# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \#1 \$array of function array_diff expects an array of values castable to string, array\<array\|bool\|float\|int\|string\|null\> given\.$#'
            count: 2
            path: ../../../redaxo/src/addons/debug/boot.php

        -
            message: '#^Parameter \#2 \$arrays of function array_diff expects an array of values castable to string, array\<array\|bool\|float\|int\|string\|null\> given\.$#'
            count: 2
            path: ../../../redaxo/src/addons/debug/boot.php

        -
            message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, list\<int\> given\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Parameter \#2 \$replace of function str_replace expects array\<string\>\|string, array\<int, int\|string\> given\.$#'
            count: 1
            path: ../../../src/Content/ArticleContentBase.php

        -
            message: '#^Parameter \#3 \$priority of static method Redaxo\\Core\\MetaInfo\\MetaInfo\:\:addField\(\) expects int, string given\.$#'
            count: 1
            path: ../../../src/MetaInfo/ApiFunction/DefaultFieldsCreate.php

        -
            message: '#^Parameter \#5 \$type of static method Redaxo\\Core\\MetaInfo\\MetaInfo\:\:addField\(\) expects int, string given\.$#'
            count: 1
            path: ../../../src/MetaInfo/ApiFunction/DefaultFieldsCreate.php
