# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Unable to resolve the template type T in call to function Redaxo\\Core\\View\\escape$#'
            count: 1
            path: ../../../redaxo/src/core/pages/system.log.external.php

        -
            message: '#^Unable to resolve the template type TInstance in call to method static method Redaxo\\Core\\Tests\\Base\\TestInstanceListPool\:\:getInstanceList\(\)$#'
            count: 1
            path: ../../../tests/Base/InstanceListPoolTraitTest.php
