# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Dead catch \- Throwable is never thrown in the try block\.$#'
            count: 1
            path: ../../../redaxo/src/core/tests/util/timer_test.php
