# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Unreachable statement \- code above always terminates\.$#'
            count: 2
            path: ../../../redaxo/src/core/lib/login/api_user_impersonate.php

        -
            message: '#^Unreachable statement \- code above always terminates\.$#'
            count: 1
            path: ../../../redaxo/src/core/tests/util/timer_test.php
