# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Impure property assignment in pure function rex_escape\(\)\.$#'
            count: 1
            path: ../../../redaxo/src/core/functions/function_rex_escape.php
