# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Method rex_sql\:\:getRows\(\) is marked as impure but does not have any side effects\.$#'
            count: 1
            path: ../../../redaxo/src/core/lib/sql/sql.php
