# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Impure static variable in pure function rex_escape\(\)\.$#'
            count: 2
            path: ../../../redaxo/src/core/functions/function_rex_escape.php
