# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Return type \(void\) of method rex_metainfo_clang_handler\:\:buildFilterCondition\(\) should be compatible with return type \(string\) of method rex_metainfo_handler\:\:buildFilterCondition\(\)$#'
            count: 1
            path: ../../../redaxo/src/addons/metainfo/lib/handler/clang_handler.php
