# total 14 errors

parameters:
    ignoreErrors:
        -
            message: '#^Function rex_metainfo_extensions_handler\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../redaxo/src/core/functions/function_metainfo.php

        -
            message: '#^Function rex_metainfo_cleanup\(\) has parameter \$epOrParams with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../redaxo/src/core/functions/function_metainfo_extension_cleanup.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\PriorityField\:\:organizePriorities\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/Form/Field/PriorityField.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\MediaManager\:\:mediaIsInUse\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MediaManager/MediaManager.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\MediaManager\:\:mediaUpdated\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MediaManager/MediaManager.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\AbstractHandler\:\:extendForm\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/AbstractHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\ArticleHandler\:\:extendForm\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/ArticleHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\CategoryHandler\:\:extendForm\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/CategoryHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\CategoryHandler\:\:renderToggleButton\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/CategoryHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\LanguageHandler\:\:extendForm\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/LanguageHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\LanguageHandler\:\:renderToggleButton\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/LanguageHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\MediaHandler\:\:extendForm\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/MediaHandler.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Handler\\MediaHandler\:\:isMediaInUse\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/MetaInfo/Handler/MediaHandler.php

        -
            message: '#^Method Redaxo\\Core\\Security\\UserRole\:\:removeOrReplaceItem\(\) has parameter \$ep with generic class Redaxo\\Core\\ExtensionPoint\\ExtensionPoint but does not specify its types\: T$#'
            count: 1
            path: ../../../src/Security/UserRole.php
