# total 112 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method rex_install_package_update\:\:checkRequirements\(\) has parameter \$config with no type specified\.$#'
            count: 1
            path: ../../../redaxo/src/addons/install/lib/package/package_update.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:__construct\(\) has parameter \$function with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:__construct\(\) has parameter \$moduleId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:addMessage\(\) has parameter \$message with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:getLink\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:getLinkList\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:getMedia\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:getMediaList\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:getValue\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setLink\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setLink\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setLinkList\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setLinkList\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setMedia\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setMedia\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setMediaList\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setMediaList\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setSave\(\) has parameter \$save with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setValue\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleAction\:\:setValue\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleAction.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleHandler\:\:nextStatus\(\) has parameter \$currentStatus with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleHandler.php

        -
            message: '#^Method Redaxo\\Core\\Content\\ArticleHandler\:\:prevStatus\(\) has parameter \$currentStatus with no type specified\.$#'
            count: 1
            path: ../../../src/Content/ArticleHandler.php

        -
            message: '#^Method Redaxo\\Core\\Content\\CategoryHandler\:\:nextStatus\(\) has parameter \$currentStatus with no type specified\.$#'
            count: 1
            path: ../../../src/Content/CategoryHandler.php

        -
            message: '#^Method Redaxo\\Core\\Content\\CategoryHandler\:\:prevStatus\(\) has parameter \$currentStatus with no type specified\.$#'
            count: 1
            path: ../../../src/Content/CategoryHandler.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:checkTempSession\(\) has parameter \$historyLogin with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:checkTempSession\(\) has parameter \$historySession with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:checkTempSession\(\) has parameter \$historyValidtime with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:createSessionKey\(\) has parameter \$login with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:createSessionKey\(\) has parameter \$session with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:createSessionKey\(\) has parameter \$validtime with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:verifySessionKey\(\) has parameter \$key1 with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\HistoryLogin\:\:verifySessionKey\(\) has parameter \$key2 with no type specified\.$#'
            count: 1
            path: ../../../src/Content/HistoryLogin.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\ArticleList\:\:listItem\(\) has parameter \$categoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/ArticleList.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\ArticleListRenderer\:\:getList\(\) has parameter \$categoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/ArticleListRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\ArticleListRenderer\:\:listItem\(\) has parameter \$categoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/ArticleListRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\ArticleListRenderer\:\:renderList\(\) has parameter \$categoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/ArticleListRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTree\:\:treeItem\(\) has parameter \$liClasses with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTree.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTree\:\:treeItem\(\) has parameter \$liIcon with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTree.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTree\:\:treeItem\(\) has parameter \$linkClasses with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTree.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTree\:\:treeItem\(\) has parameter \$subHtml with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTree.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:formatLi\(\) has parameter \$currentCategoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:formatLi\(\) has parameter \$liAttr with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:formatLi\(\) has parameter \$linkAttr with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:getTree\(\) has parameter \$categoryId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:treeItem\(\) has parameter \$liClasses with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:treeItem\(\) has parameter \$liIcon with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:treeItem\(\) has parameter \$linkClasses with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Linkmap\\CategoryTreeRenderer\:\:treeItem\(\) has parameter \$subHtml with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Linkmap/CategoryTreeRenderer.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Template\:\:__construct\(\) has parameter \$templateId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Template.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Template\:\:hasModule\(\) has parameter \$ctype with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Template.php

        -
            message: '#^Method Redaxo\\Core\\Content\\Template\:\:hasModule\(\) has parameter \$moduleId with no type specified\.$#'
            count: 1
            path: ../../../src/Content/Template.php

        -
            message: '#^Method Redaxo\\Core\\Cronjob\\CronjobManager\:\:setExecutionStart\(\) has parameter \$reset with no type specified\.$#'
            count: 1
            path: ../../../src/Cronjob/CronjobManager.php

        -
            message: '#^Method Redaxo\\Core\\Cronjob\\CronjobManager\:\:setStatus\(\) has parameter \$status with no type specified\.$#'
            count: 1
            path: ../../../src/Cronjob/CronjobManager.php

        -
            message: '#^Method Redaxo\\Core\\Cronjob\\Form\\CronjobForm\:\:addIntervalField\(\) has parameter \$attributes with no type specified\.$#'
            count: 1
            path: ../../../src/Cronjob/Form/CronjobForm.php

        -
            message: '#^Method Redaxo\\Core\\Cronjob\\Form\\CronjobForm\:\:addIntervalField\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Cronjob/Form/CronjobForm.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\ContainerField\:\:addField\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Field/ContainerField.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\ContainerField\:\:addGroupedField\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Field/ContainerField.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\ControlField\:\:submitted\(\) has parameter \$element with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Field/ControlField.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\PriorityField\:\:setWhereCondition\(\) has parameter \$whereCondition with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Field/PriorityField.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Field\\SelectField\:\:setSeparator\(\) has parameter \$separator with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Field/SelectField.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\ActionEventSelect\:\:__construct\(\) has parameter \$options with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/ActionEventSelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\CategorySelect\:\:__construct\(\) has parameter \$addHomepage with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/CategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\CategorySelect\:\:__construct\(\) has parameter \$checkPerms with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/CategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\CategorySelect\:\:__construct\(\) has parameter \$clang with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/CategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\CategorySelect\:\:__construct\(\) has parameter \$ignoreOfflines with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/CategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\CategorySelect\:\:addCatOption\(\) has parameter \$group with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/CategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\MediaCategorySelect\:\:__construct\(\) has parameter \$checkPerms with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/MediaCategorySelect.php

        -
            message: '#^Method Redaxo\\Core\\Form\\Select\\Select\:\:addOptions\(\) has parameter \$options with no type specified\.$#'
            count: 1
            path: ../../../src/Form/Select/Select.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\Effect\\MirrorEffect\:\:imagereflection\(\) has parameter \$bgColor with no type specified\.$#'
            count: 1
            path: ../../../src/MediaManager/Effect/MirrorEffect.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\Effect\\MirrorEffect\:\:imagereflection\(\) has parameter \$image with no type specified\.$#'
            count: 1
            path: ../../../src/MediaManager/Effect/MirrorEffect.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\Effect\\MirrorEffect\:\:imagereflection\(\) has parameter \$reflectionHeight with no type specified\.$#'
            count: 1
            path: ../../../src/MediaManager/Effect/MirrorEffect.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\Effect\\MirrorEffect\:\:imagereflection\(\) has parameter \$reflectionOpacity with no type specified\.$#'
            count: 1
            path: ../../../src/MediaManager/Effect/MirrorEffect.php

        -
            message: '#^Method Redaxo\\Core\\MediaManager\\Effect\\MirrorEffect\:\:imagereflection\(\) has parameter \$transparent with no type specified\.$#'
            count: 1
            path: ../../../src/MediaManager/Effect/MirrorEffect.php

        -
            message: '#^Method Redaxo\\Core\\MediaPool\\Media\:\:getValue\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/MediaPool/Media.php

        -
            message: '#^Method Redaxo\\Core\\MediaPool\\Media\:\:hasValue\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/MediaPool/Media.php

        -
            message: '#^Method Redaxo\\Core\\MediaPool\\Media\:\:isDocType\(\) has parameter \$type with no type specified\.$#'
            count: 1
            path: ../../../src/MediaPool/Media.php

        -
            message: '#^Method Redaxo\\Core\\MediaPool\\Media\:\:isImageType\(\) has parameter \$extension with no type specified\.$#'
            count: 1
            path: ../../../src/MediaPool/Media.php

        -
            message: '#^Method Redaxo\\Core\\MetaInfo\\Form\\Input\\AbstractInput\:\:getAttribute\(\) has parameter \$default with no type specified\.$#'
            count: 1
            path: ../../../src/MetaInfo/Form/Input/AbstractInput.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticle\(\) has parameter \$clang with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticle\(\) has parameter \$ctype with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticle\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticleValue\(\) has parameter \$clang with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticleValue\(\) has parameter \$field with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\ArticleVar\:\:getArticleValue\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/ArticleVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\CategoryVar\:\:getCategoryValue\(\) has parameter \$clang with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/CategoryVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\CategoryVar\:\:getCategoryValue\(\) has parameter \$field with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/CategoryVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\CategoryVar\:\:getCategoryValue\(\) has parameter \$id with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/CategoryVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\LinkListVar\:\:getWidget\(\) has parameter \$name with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/LinkListVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\LinkListVar\:\:getWidget\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/LinkListVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\LinkVar\:\:getWidget\(\) has parameter \$name with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/LinkVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\LinkVar\:\:getWidget\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/LinkVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\MediaListVar\:\:getWidget\(\) has parameter \$name with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/MediaListVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\MediaListVar\:\:getWidget\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/MediaListVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\MediaVar\:\:getWidget\(\) has parameter \$name with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/MediaVar.php

        -
            message: '#^Method Redaxo\\Core\\RexVar\\MediaVar\:\:getWidget\(\) has parameter \$value with no type specified\.$#'
            count: 1
            path: ../../../src/RexVar/MediaVar.php

        -
            message: '#^Method Redaxo\\Core\\Util\\Parsedown\:\:blockFencedCodeComplete\(\) has parameter \$Block with no type specified\.$#'
            count: 1
            path: ../../../src/Util/Parsedown.php

        -
            message: '#^Method Redaxo\\Core\\Util\\Parsedown\:\:blockHeader\(\) has parameter \$Line with no type specified\.$#'
            count: 1
            path: ../../../src/Util/Parsedown.php

        -
            message: '#^Method Redaxo\\Core\\Util\\Parsedown\:\:blockSetextHeader\(\) has parameter \$Line with no type specified\.$#'
            count: 1
            path: ../../../src/Util/Parsedown.php

        -
            message: '#^Method Redaxo\\Core\\Util\\Parsedown\:\:text\(\) has parameter \$text with no type specified\.$#'
            count: 1
            path: ../../../src/Util/Parsedown.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:_getAttributeString\(\) has parameter \$array with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:addTableColumn\(\) has parameter \$class with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:getColumnLink\(\) has parameter \$columnName with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:getColumnLink\(\) has parameter \$columnValue with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:getColumnLink\(\) has parameter \$params with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:getLinkAttributes\(\) has parameter \$column with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:getLinkAttributes\(\) has parameter \$default with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\DataList\:\:isCustomFormat\(\) has parameter \$format with no type specified\.$#'
            count: 1
            path: ../../../src/View/DataList.php

        -
            message: '#^Method Redaxo\\Core\\View\\View\:\:mediaPoolMediaForm\(\) has parameter \$buttonTitle with no type specified\.$#'
            count: 1
            path: ../../../src/View/View.php

        -
            message: '#^Method Redaxo\\Core\\View\\View\:\:mediaPoolMediaForm\(\) has parameter \$closeForm with no type specified\.$#'
            count: 1
            path: ../../../src/View/View.php

        -
            message: '#^Method Redaxo\\Core\\View\\View\:\:mediaPoolMediaForm\(\) has parameter \$fileChooser with no type specified\.$#'
            count: 1
            path: ../../../src/View/View.php

        -
            message: '#^Method Redaxo\\Core\\View\\View\:\:mediaPoolMediaForm\(\) has parameter \$formTitle with no type specified\.$#'
            count: 1
            path: ../../../src/View/View.php

        -
            message: '#^Method Redaxo\\Core\\View\\View\:\:mediaPoolMediaForm\(\) has parameter \$rexFileCategory with no type specified\.$#'
            count: 1
            path: ../../../src/View/View.php
