# total 8 errors

parameters:
    ignoreErrors:
        -
            message: '#^Possibly impure call to function str_replace\(\) in pure method Redaxo\\Core\\Database\\Sql\:\:escapeLikeWildcards\(\)\.$#'
            count: 1
            path: ../../../src/Database/Sql.php

        -
            message: '#^Possibly impure call to function preg_match\(\) in pure function Redaxo\\Core\\View\\escape\(\)\.$#'
            count: 3
            path: ../../../src/View/escape.php

        -
            message: '#^Possibly impure call to function preg_replace\(\) in pure function Redaxo\\Core\\View\\escape\(\)\.$#'
            count: 1
            path: ../../../src/View/escape.php

        -
            message: '#^Possibly impure call to function preg_replace_callback\(\) in pure function Redaxo\\Core\\View\\escape\(\)\.$#'
            count: 3
            path: ../../../src/View/escape.php
