# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Possibly impure call to method stdClass\:\:__toString\(\) in pure function Redaxo\\Core\\View\\escape\(\)\.$#'
            count: 1
            path: ../../../src/View/escape.php
