# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method rex_socket\:\:doDelete\(\) has rex_socket_exception in PHPDoc @throws tag but it''s not thrown\.$#'
            count: 1
            path: ../../../redaxo/src/core/lib/util/socket/socket.php

        -
            message: '#^Method rex_socket\:\:doGet\(\) has rex_socket_exception in PHPDoc @throws tag but it''s not thrown\.$#'
            count: 1
            path: ../../../redaxo/src/core/lib/util/socket/socket.php
