# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^PHPDoc tag @var with type class\-string is not subtype of native type lowercase\-string&non\-falsy\-string\.$#'
            count: 1
            path: ../../../redaxo/src/core/lib/var/var.php
