/*
 * Watson Icons
 *
 * Logo
 * Designer Ralph Zumkeller - http://www.yakamara.de
 *
 *
 * Enter
 * By Font Lucida Grande Bold
 *
 * Enter
 * By Font Lucida Grande Bold
 *
 *
*/

#watson {
    background-image: url(watson_logo.png);
}

.watson-value {
    position: relative;
    display: block;
    padding: 13px 5px 12px 5px;
    font-size: 18px;
    line-height: 1;
}
.watson-value em {
    display: none;
    font-size: 13px;
    font-style: normal;
}
.watson-value em.watson-value-suffix {
    margin-left: 5px;
}
.watson-value em.watson-description {
    padding-top: 2px;
    color: #a0a0a0;
}
.watson-value.watson-has-description {
    padding-top: 5px;
    padding-bottom: 5px;
}
.watson-value.watson-has-value-suffix em.watson-value-suffix {
    display: inline-block;
}
.watson-value.watson-has-description em.watson-description {
    display: block;
}
.watson-value.watson-has-icon {
    padding-left: 40px;
    background-position: 0 50%;
}
.watson-value.watson-no-results {
    background-color: #F0F0F0;
}
.watson-value.watson-has-quick-look:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -30px;
    display: none;
    width: 32px;
    height: 32px;
    margin-top: -14px;
    background: url(quick_look.png);
    background-size: 100% 100%;
}

.tt-suggestion.tt-is-under-cursor .watson-value.watson-has-quick-look:after {
    display: block;
}



#watson,
#watson-settings {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    padding: 10px;
    background-color: #E0E0E0;
    background-position: 512px 50%;
    background-size: 64px 64px;
    border: 10px solid rgba(0, 0, 0, .5);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
}
#watson-settings {
    max-height: 600px;
    overflow: auto;
    font-size: 13px;
    z-index: 1100;
}
#watson-settings h1 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1;
}
.watson-settings-open,
.watson-settings-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    background: url(icon_cog.png) 50% 50% no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    text-indent: -1000em;
}
.watson-settings-close {
    background-image: url(icon_cross_circled.png);
}
#watson-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 900;
}
#watson form {
    margin-right: 60px;
}
#watson input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #D0D0D0;
    border: 0;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 36px;
}


table.watson-legend {
    width: 100%;
}
table.watson-legend .watson-legend-title {
    width: 25%;
}
table.watson-legend .watson-legend-description {
    width: 45%;
}
table.watson-legend .watson-legend-keyword,
table.watson-legend .watson-legend-search,
table.watson-legend .watson-legend-add {
    width: 10%;
    text-align: center;
}
table.watson-legend tr th,
table.watson-legend tr td {
    padding: 5px;
    background-color: #F0F0F0;
    border-bottom: 1px solid #d0d0d0;
    vertical-align: top;
}
table.watson-legend thead tr th {
    padding: 10px 5px;
    background-color: #F7F7F7;
    border-top: 3px solid #d0d0d0;
}
table.watson-legend tbody tr th {
    font-weight: normal;
}


.watson-legend-check {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(icon_check.png) 50% 50% no-repeat;
    background-size: 20px 20px;
    font-size: 0;
    line-height: 0;
}


.twitter-typeahead {
    width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    width: 600px;
    margin: 10px 0 0 -20px;
    padding: 10px;
    background-color: #F0F0F0;
    border: 10px solid rgba(0, 0, 0, .5);
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1000;
}

.tt-suggestion {
    display: block;
    padding: 0 70px 0 10px;
    border-bottom: 1px solid #E0E0E0;
    vertical-align: middle;
    overflow: hidden;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #E0E0E0;
    background-image: url(enter.png);
    background-position: 520px 50%;
    background-size: 32px 32px;
    color: #000;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #000;
}

.tt-suggestion p {
    margin: 0 0 0 600px;
    font-size: 0;
    line-height: 0;
}


#facebox {
    z-index: 1200;
}
#facebox .close {
    display: none !important;
}
.facebox_overlayBG {
    z-index: 1100;
}