/assets/
/media/
/redaxo/cache/
/redaxo/data/addons/

# compat symlinks
/files
/redaxo/src/layout
/redaxo/src/functions
/redaxo/src/addons/compat/plugins/4.x/emptydir

# Composer Autoloader
/redaxo/src/core/vendor/autoload.php
/redaxo/src/core/vendor/composer/
/redaxo/src/addons/textile/vendor/autoload.php
/redaxo/src/addons/textile/vendor/composer/
