# redaxo configuration
# contains sensitive data and should not be stored in a git repo!
/redaxo/data/core/config.yml

# cache folder (except hidden files)
/redaxo/cache/*
!/redaxo/cache/.*

# media folder (except hidden files)
/media/*
!/media/.*

# log files
*.log
