.php_cs.cache
/assets/
/media/
/redaxo/cache/
/redaxo/data/
/releases/

# Addons
/redaxo/src/addons/*
!/redaxo/src/addons/backup/
!/redaxo/src/addons/be_style/
!/redaxo/src/addons/cronjob/
!/redaxo/src/addons/debug/
!/redaxo/src/addons/install/
!/redaxo/src/addons/media_manager/
!/redaxo/src/addons/mediapool/
!/redaxo/src/addons/metainfo/
!/redaxo/src/addons/phpmailer/
!/redaxo/src/addons/project/
!/redaxo/src/addons/structure/
!/redaxo/src/addons/tests/
!/redaxo/src/addons/textile/
!/redaxo/src/addons/users/

# Composer stuff (tests, duplicate autoloader...)
/redaxo/src/core/vendor/erusev/parsedown/test/
/redaxo/src/core/vendor/erusev/parsedown/phpunit.xml.dist
/redaxo/src/core/vendor/erusev/parsedown-extra/test/
/redaxo/src/core/vendor/erusev/parsedown-extra/phpunit.xml.dist
/redaxo/src/core/vendor/psr/log/Psr/Log/Test/
/redaxo/src/core/vendor/symfony/yaml/Tests/
/redaxo/src/core/vendor/symfony/yaml/phpunit.xml.dist
/redaxo/src/addons/phpmailer/vendor/autoload.php
/redaxo/src/addons/phpmailer/vendor/composer/
/redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/examples/
/redaxo/src/addons/phpmailer/vendor/phpmailer/phpmailer/extras/
/redaxo/src/addons/textile/vendor/autoload.php
/redaxo/src/addons/textile/vendor/composer/
