language: php

dist: bionic

git:
    depth: 3

branches:
    only:
        - master
        - bugfix
        - temp

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"

jobs:
    include:
        -   &TEST
            install:
                - mysql -e 'create database redaxo_5_0;'
                - php redaxo/src/addons/tests/bin/setup.php
            script: php redaxo/src/addons/tests/bin/run_tests.php
            php: 7.1
            env:
                - TYPE=phpunit
                - DB=mariadb
            addons:
                mariadb: 10.1
        -   <<: *TEST
            php: 7.4
            dist: trusty
            addons:
                mariadb: 10.4
        -   &TEST_MYSQL
            <<: *TEST
            php: 7.1
            env:
                - TYPE=phpunit
                - DB=mysql
            services:
                - mysql
            addons: ~
        -   <<: *TEST_MYSQL
            php: 7.2
        -   <<: *TEST_MYSQL
            php: 7.3
        -   <<: *TEST_MYSQL
            php: 7.4
        -   <<: *TEST_MYSQL
            php: nightly
