language: php

git:
    depth: 3

branches:
    only:
        - master
        - bugfix

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"

jobs:
    include:
        -   php: 7.2
            name: BC Check
            script: 
                - mv redaxo/src/core/composer* .
                - mv redaxo/src/core/vendor .
                - composer require --dev roave/backward-compatibility-check
                - vendor/bin/roave-backward-compatibility-check r:a --from=master --to=HEAD
            
        -   php: 5.5
            env: LINTING=1
            script: if find . -name "*.php" ! -path "*/vendor/*" -exec php -l {} 2>&1 \; | grep "syntax error, unexpected"; then exit 1; fi

        -   &TEST
            install:
                - mysql -e 'create database redaxo_5_0;'
                - php redaxo/src/addons/tests/bin/setup.php
            script: php redaxo/src/addons/tests/bin/run_tests.php
            php: 7.0
            env: DB=mariadb
            addons:
                mariadb: 10.1
        -   <<: *TEST
            php: 7.3
            addons:
                mariadb: 10.2
        -   &TEST_MYSQL
            <<: *TEST
            php: 5.5
            env: DB=mysql
            addons: ~
        -   <<: *TEST_MYSQL
            php: 5.6
        -   <<: *TEST_MYSQL
            php: 7.0
        -   <<: *TEST_MYSQL
            php: 7.1
        -   <<: *TEST_MYSQL
            php: 7.2
        -   <<: *TEST_MYSQL
            php: 7.3
