language: php

dist: bionic

git:
    depth: 3

branches:
    only:
        - master
        - bugfix
        - temp

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - phpenv config-rm xdebug.ini || echo "xdebug not available"

matrix:
    allow_failures:
      - php: nightly
        env:
            - DB=mysql

jobs:
    include:
        -   &TEST
            install:
                - mysql -e 'create database redaxo5;'
                - php redaxo/src/addons/tests/bin/setup.php
            script: php redaxo/src/addons/tests/bin/run_tests.php
            php: 7.1
            dist: trusty
            env:
                - DB=mariadb
            addons:
                mariadb: 10.1
        -   <<: *TEST
            php: 7.3
            addons:
                mariadb: 10.4
        -   <<: *TEST
            dist: xenial
            php: 7.4
            env:
                - DB=mysql8
            addons: {}
            before_install:
                - phpenv config-rm xdebug.ini || echo "xdebug not available"
                # inspired by https://github.com/BenMorel/dbal/blob/f7b417785452d241d18676f76f700fd27735c577/tests/travis/install-mysql-8.0.sh
                - echo "Installing MySQL 8.0..."
                - echo mysql-apt-config mysql-apt-config/select-server select mysql-8.0 | sudo debconf-set-selections
                - wget https://dev.mysql.com/get/mysql-apt-config_0.8.10-1_all.deb
                - sudo dpkg --install mysql-apt-config_0.8.10-1_all.deb
                - sudo apt-get update -q
                - sudo apt-get install -q -y --force-yes -o Dpkg::Options::=--force-confnew mysql-server
                - echo -e "[mysqld]\ndefault_authentication_plugin=mysql_native_password" | sudo tee --append /etc/mysql/my.cnf
                - sudo /etc/init.d/mysql start
                - sudo mysql_upgrade
                - mysql --version
        -   &TEST_MYSQL
            <<: *TEST
            php: 7.1
            dist: bionic
            env:
                - DB=mysql5
            services:
                - mysql
            addons: {}
        -   <<: *TEST_MYSQL
            php: 7.2
        -   <<: *TEST_MYSQL
            php: 7.3
        -   <<: *TEST_MYSQL
            php: 7.4
        -   <<: *TEST_MYSQL
            php: nightly
