parameters:
    level: 0
    paths:
        - redaxo/src/
    bootstrap: phpstan-bootstrap.php
    excludes_analyse:
        - redaxo/src/addons/adminer/
        - redaxo/*/vendor/*
        - redaxo/*/tests/*
    ignoreErrors:
        - '#Using \$this outside a class\.#'
        - '#Undefined variable: \$this#'
