includes:
    - .tools/phpstan/baseline/loader.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

# vendor/bin/phpstan --generate-baseline=.tools/phpstan/baseline/loader.neon && vendor/bin/split-phpstan-baseline .tools/phpstan/baseline/loader.neon
parameters:
    level: 6
    phpVersion: 80300 # PHP 8.3
    treatPhpDocTypesAsCertain: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        # restrict to core and core addons, ignore other locally installed addons
        - src
        - tests
        - redaxo/src/core
        - redaxo/src/addons/debug
        - redaxo/src/addons/install
        - redaxo/src/addons/project
    # https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        - Redaxo\Core\View\Fragment
    # https://phpstan.org/blog/bring-your-exceptions-under-control
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        # implicitThrows: false
        checkedExceptionClasses:
            - Redaxo\Core\Exception\UserMessageException
    symfony:
        consoleApplicationLoader: .tools/phpstan/console.php
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Constructor of class (.*Field|rex_form_.*_element) has an unused parameter \$tag.#'
        - '#^Offset .* on .* always exists#'
        # https://github.com/phpstan/phpstan/issues/10698
        - '#^Parameter \#1 \$extensionPoint of static method Redaxo\\Core\\ExtensionPoint\\Extension\:\:registerPoint\(\) expects Redaxo\\Core\\ExtensionPoint\\ExtensionPoint\<(.+)\>, Redaxo\\Core\\ExtensionPoint\\ExtensionPoint\<\1\> given\.$#'
        -
            message: '#^Method .* throws checked exception Redaxo\\Core\\Exception\\UserMessageException but it''s missing from the PHPDoc @throws tag\.$#'
            path: redaxo/src/addons/install/*
