parameters:
    level: 4
    paths:
        - redaxo/src/
    bootstrap: phpstan-bootstrap.php
    excludes_analyse:
        - redaxo/src/addons/be_style/vendor/
        - redaxo/src/addons/debug/vendor/
        - redaxo/src/addons/media_manager/tests/
        - redaxo/src/addons/mediapool/tests/
        - redaxo/src/addons/phpmailer/vendor/
        - redaxo/src/addons/structure/tests/
        - redaxo/src/addons/structure/plugins/content/tests/
        - redaxo/src/addons/tests/vendor/
        - redaxo/src/core/vendor/
        - redaxo/src/core/tests/
    # make phpstan aware of never returning methods
    # https://github.com/phpstan/phpstan/issues/2900
    earlyTerminatingMethodCalls:
        rex_response:
            - sendRedirect
    ignoreErrors:
        -
            # allow undefined variable errors in pages, because we rely on variables beeing available from the includer scope
            message: '#Undefined variable: .+#'
            path: '*/pages/*'
        -
            # allow undefined variable errors in pages, because we rely on variables beeing available from the includer scope
            message: '#Undefined variable: .+#'
            path: '*/addons/structure/functions/function_rex_category.php'
        -
            message: '#Using \$this outside a class\.#'
            path: '*/fragments/*'
        -
            message: '#Variable \$this might not be defined\.#'
            path: '*/fragments/*'
        -
            # because of ugly control logic we need to ignore those warnings for now ($save=ja/nein)
            message: '#Variable \$[a-z]+ might not be defined\.#'
            path: '*/content/pages/templates.php'
        -
            message: '#Access to an undefined property object.+#'
            path: '*/fragments/*'
        -
            message: '#Call to an undefined method object::subfragment\(\)\.#'
            path: '*/fragments/*'
        -
            message: '#Cannot unset offset mixed on array.#'
            path: '*/core/lib/packages/manager.php'
        - '#Undefined variable: \$this#'
        - '#Unsafe usage of new static\(\)\.#'
        - '#Constructor of class rex_form_.*_element has an unused parameter \$tag.#'
