includes:
    - .tools/phpstan/baseline/loader.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

# vendor/bin/phpstan --generate-baseline=.tools/phpstan/baseline/loader.neon && vendor/bin/split-phpstan-baseline .tools/phpstan/baseline/loader.neon
parameters:
    level: 6
    phpVersion: 80100 # PHP 8.1
    treatPhpDocTypesAsCertain: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        # restrict to core and core addons, ignore other locally installed addons
        - redaxo/src/core
        - redaxo/src/addons/backup
        - redaxo/src/addons/be_style
        - redaxo/src/addons/cronjob
        - redaxo/src/addons/debug
        - redaxo/src/addons/install
        - redaxo/src/addons/media_manager
        - redaxo/src/addons/mediapool
        - redaxo/src/addons/metainfo
        - redaxo/src/addons/phpmailer
        - redaxo/src/addons/project
        - redaxo/src/addons/structure
        - redaxo/src/addons/users
    excludePaths:
        analyse:
            - redaxo/src/addons/backup/vendor/
            - redaxo/src/addons/be_style/vendor/
            - redaxo/src/addons/debug/vendor/
            - redaxo/src/addons/phpmailer/vendor/
            - redaxo/src/core/vendor/
    # https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        - rex_fragment
    symfony:
        consoleApplicationLoader: .tools/phpstan/console.php
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Constructor of class rex_form_.*_element has an unused parameter \$tag.#'
        - '#^Offset .* on .* always exists#'
        -
            message: '#.*deprecated.*#'
            path: '*/update.php'
