includes:
	- .tools/phpstan/baseline.neon

parameters:
    level: 6
    phpVersion: 80300 # PHP 8.3
    treatPhpDocTypesAsCertain: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    paths:
        # restrict to core and core addons, ignore other locally installed addons
        - redaxo/src/core
        - redaxo/src/addons/debug
        - redaxo/src/addons/install
        - redaxo/src/addons/mediapool
        - redaxo/src/addons/metainfo
        - redaxo/src/addons/project
    # https://phpstan.org/config-reference#universal-object-crates
    universalObjectCratesClasses:
        - rex_fragment
    symfony:
        console_application_loader: .tools/phpstan/console.php
    ignoreErrors:
        - '#Access to an undefined property rex_media::\$med_foo\.#'
        - '#Access to an undefined property rex_article::\$art_foo\.#'
        - '#Access to an undefined property rex_category::\$cat_foo\.#'
        - '#Access to an undefined property rex_clang::\$clang_foo\.#'
        - '#Unsafe usage of new static\(\)\.#'
        - '#Constructor of class rex_form_.*_element has an unused parameter \$tag.#'
        - '#^Offset .* on .* always exists#'
