.metainfo-sidebar .rex-form-group:not(.rex-form-group-vertical) > dt,
.metainfo-sidebar .rex-form-group:not(.rex-form-group-vertical) > dd,
.metainfo-sidebar .rex-form-group:not(.rex-form-group-vertical) > dd:first-child,
.metainfo-sidebar .dl-horizontal > dt,
.metainfo-sidebar .dl-horizontal > dd,
.metainfo-sidebar .dl-horizontal > dd:first-child {
    margin: 0;
    padding: 0;
    float: none;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
}
