

.nav-tabs > li.pull-right > a {
    margin-left: 2px;
    margin-right: 0;
}



@media(min-width: $grid-float-breakpoint) {
    html, body, .rex-page {
        height: 100%;
    }


    .rex-is-logged-in {
        .rex-page {
            position: relative;
        }

        .rex-nav-top {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border: 0;
        }

        .rex-page-container {
            display: table;
            width: 100%;
            height: 100%;
            //margin-top: -$navbar-height;
            padding-top: $navbar-height;
            table-layout: fixed;
        }

        .rex-nav-main {
            display: table-cell;
            width: 250px;
            padding-bottom: $grid-gutter-width;
            vertical-align: top;
        }

        .rex-page-main {
            display: table-cell;
            padding-bottom: $grid-gutter-width;
            vertical-align: top;
        }

        .rex-main-frame {
            margin-bottom: -$grid-gutter-width;            
        }

        .rex-global-footer {
            clear: both;
            height: $grid-gutter-width;
            margin-left: 250px;
            margin-top: -$grid-gutter-width;
        }
    }

}

.rex-global-footer {
    padding-left: floor($grid-gutter-width / 2);
    padding-right: floor($grid-gutter-width / 2);
    font-size: $font-size-small;
}
    
@media(max-width: $grid-float-breakpoint-max) {

    .rex-page-main {
        @include clearfix();
    }

}
.rex-page-main-inner {
    padding-left: $floor($grid-gutter-width / 2);
    padding-right: $floor($grid-gutter-width / 2);
}


.btn-abort {
    @extend .btn-default;
}
// save and continue a form with data
.btn-apply {
    @extend .btn-primary;
}
.btn-back {
    @extend .btn-default;
}
.btn-delete {
    @extend .btn-danger;
}
// e.g. Slice edit
.btn-edit {
    @extend .btn-primary;
}
// e.g. Slice move
.btn-move {
    @extend .btn-default;
}
// e.g. Widget
.btn-popup {
    @extend .btn-default;
}
.btn-reset {
    @extend .btn-default;
}
// save and quit a form with data
.btn-save {
    @extend .btn-primary;
}
.btn-search {
    @extend .btn-default;
}
.btn-select {
    @extend .btn-primary;
}
// send a form, e.g. content functions
.btn-send {
    @extend .btn-primary;
}
.btn-setup {
    @extend .btn-primary;
}
.btn-update {
    @extend .btn-primary;
}

.rex-nav-top .container-fluid .navbar-brand {
    margin-left: floor($grid-gutter-width / 2);
    padding: 0;
    line-height: $navbar-height;

    @media (min-width: $grid-float-breakpoint) {
        margin-left: 0;
    }
}
.rex-nav-meta {
    margin-top: 20px;

    li {
        > a {
            display: inline-block;
        }
    }
}

.rex-redaxo-logo {
    height: 30px;
    vertical-align: middle;
}

.rex-code {
    font-family: $font-family-monospace;
}

// Wird bei den Kategorie-Metainfos gesetzt
.form-legend {
    @extend legend;
    margin-top: 0;
    font-weight: 400;
}


.panel > .alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel > form > .table, 
.panel > form > fieldset > .table {
    margin-bottom: 0;
}

.panel-heading > .rex-heading {
    margin: 0;
    font-size: $font-size-base;
}

.panel-add, 
.panel-edit {
    @extend .panel-info;
}

.rex-state-inprogress {
    background-color: $state-warning-bg;
}
.rex-state-live {
    background-color: $state-success-bg;
}
.rex-state-notice {
    background-color: $state-info-bg;
}
.rex-state-warning {
    background-color: $state-warning-bg;
}
.rex-state-error {
    background-color: $state-danger-bg;
}


.rex-ajax-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(#000, .8);
    color: #fff;
    font-size: 100px;

    .rex-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
}

.rex-nav-main-list {
    > li {
        > a {
            padding-left: 30px;
        }

        &.rex-has-icon {
            > a {
                > .rex-icon {
                    margin-left: -25px;
                    width: 20px;
                }
            }
        }
    }
}
.rex-page-nav {
    margin-bottom: $line-height-computed;
    
    .navbar {
        min-height: 0;
    }
    .navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: $link-color;
    }
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        color: $navbar-default-link-active-color;
        background-color: transparent;        
    }
}

.rex-navbar-form-flexible {
    .form-group {
        display: inline;

        > .input-group {
            display: table;

            > .input-group-addon, 
            > .input-group-btn {
                width: 1%;
            }
        }
    }
}

.rex-slices {
    @include list-unstyled();
}
.rex-slice {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}

.panel-heading {

    @include clearfix();

    > .panel-title {
        float: left;
    }

    > .rex-panel-options {
        float: right;

        .navbar-form {
            margin: -6px 0;
            padding: 0;
        }
    }
}
.panel-body .rex-form-panel-footer {
    @extend .panel-footer;
    margin-right: -(ceil($grid-gutter-width / 2));
    margin-bottom: -(ceil($grid-gutter-width / 2));
    margin-left: -(ceil($grid-gutter-width / 2));
}
.rex-range-input-group {
    .input-group-addon:first-child {
        width: 60%;
    }
    @media (min-width: $screen-md-min) {
        .input-group-addon:first-child {
            width: 80%;
        }
    }
}

.list-group-item .breadcrumb {
    margin-bottom: 0;
}


.table > thead > tr.mark, 
.table > tfoot > tr.mark, 
.table > tbody > tr.mark {
    padding: 0;
}
.table > tbody > tr.mark {
    background-color: $state-warning-bg;
}
.table > tbody > tr.mark > th, 
.table > tbody > tr.mark > td {
    vertical-align: middle;
}