
@media(min-width: $grid-float-breakpoint) {

    .rex-nav-main {
        float: left;
        width: 250px;
    }

    .rex-page-main {
        @include clearfix();
        margin-left: 250px;
        padding: 15px;
    }
    .rex-page-main-inner {
        float: left;
        width: 100%;
    }

    .rex-global-footer {
        clear: both;
    }

}


.panel > .alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel > form > .table, 
.panel > form > fieldset > .table {
    margin-bottom: 0;
}

.panel-heading > .rex-heading {
    margin: 0;
    font-size: $font-size-base;
}


.rex-ajax-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(#000, .8);
    color: #fff;
    font-size: 100px;

    .rex-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
}

.rex-navbar-flexible {
    .form-group {
        display: inline;

        > .input-group {
            display: table;

            > .input-group-addon, 
            > .input-group-btn {
                width: 1%;
            }
        }
    }
}

.rex-slices {
    @include list-unstyled();
}


.rex-range-input-group {
    .input-group-addon:first-child {
        width: 60%;
    }
    @media (min-width: $screen-md-min) {
        .input-group-addon:first-child {
            width: 80%;
        }
    }
}