
@media(min-width: $grid-float-breakpoint) {

    .rex-nav-main {
        float: left;
        width: 250px;
    }

    .rex-page-main {
        @include clearfix();
        margin-left: 250px;
        padding: 15px;
    }
    .rex-page-main-inner {
        float: left;
        width: 100%;
    }

    .rex-global-footer {
        clear: both;
    }

}


.btn-abort {
    @extend .btn-default;
}
.btn-apply {
    @extend .btn-primary;
}
.btn-save {
    @extend .btn-primary;
}
.btn-delete {
    @extend .btn-danger;
}
.btn-reset {
    @extend .btn-default;
}

// Wird bei den Kategorie-Metainfos gesetzt
.form-legend {
    @extend legend;
    margin-top: 0;
    font-weight: 400;
}


.panel > .alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel > form > .table, 
.panel > form > fieldset > .table {
    margin-bottom: 0;
}

.panel-heading > .rex-heading {
    margin: 0;
    font-size: $font-size-base;
}


.rex-ajax-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(#000, .8);
    color: #fff;
    font-size: 100px;

    .rex-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
}
.rex-page-nav {
    margin-bottom: $line-height-computed;

    .navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: $link-color;
    }
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus {
        color: $navbar-default-link-active-color;
        background-color: transparent;        
    }
}

.rex-navbar-flexible {
    .form-group {
        display: inline;

        > .input-group {
            display: table;

            > .input-group-addon, 
            > .input-group-btn {
                width: 1%;
            }
        }
    }
}

.rex-slices {
    @include list-unstyled();
}
.rex-slice {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}

.panel-body .rex-form-panel-footer {
    @extend .panel-footer;
    margin-right: -(ceil($grid-gutter-width / 2));
    margin-bottom: -(ceil($grid-gutter-width / 2));
    margin-left: -(ceil($grid-gutter-width / 2));
}
.rex-range-input-group {
    .input-group-addon:first-child {
        width: 60%;
    }
    @media (min-width: $screen-md-min) {
        .input-group-addon:first-child {
            width: 80%;
        }
    }
}