html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body:before {
    display: none;
    content: "xs";
    @media (min-width: $screen-sm-min) {
        content: "sm";
    }
    @media (min-width: $screen-md-min) {
        content: "md";
    }
    @media (min-width: $screen-lg-min) {
        content: "lg";
    }
}
body:after {
    display: none;
    content: "max";
    @media (min-width: $grid-float-breakpoint) {
        content: "min";
    }
}

.rex-slice {
  iframe, img, svg, video, object, embed {
    max-width: 100%;
    height: auto;
  }
}


#rex-page-setup .bg-success,
#rex-page-setup .bg-success > a {
    color: #fff;
}

.nav-tabs > li.pull-right > a {
    margin-left: 2px;
    margin-right: 0;
}



@media(min-width: $grid-float-breakpoint) {
    html {
        height: 100%;
    }
    body, .rex-page {
        min-height: 100%;
    }


    .rex-is-logged-in,
    #rex-page-setup {
        .rex-page {
            position: relative;
        }

        .rex-nav-top {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border: 0;
        }

        .rex-page-container {
            display: table;
            width: 100%;
            height: 100%;
            //margin-top: -$navbar-height;
            padding-top: $top-navbar-height;
            table-layout: fixed;

            .rex-is-popup& {
                padding-top: $top-popup-navbar-height;
            }
        }

        .rex-nav-main {
            display: table-cell;
            width: 250px;
            padding-bottom: $grid-gutter-width;
            vertical-align: top;
        }

        .rex-page-main {
            display: table-cell;
            padding-bottom: $grid-gutter-width;
            vertical-align: top;
        }

        .rex-main-frame {
            margin-bottom: -$grid-gutter-width;
        }

        .rex-global-footer {
            clear: both;
            height: $grid-gutter-width;
            margin-left: 250px;
            margin-top: -$grid-gutter-width;
        }
    }

}

.rex-global-footer {
    padding-left: floor($grid-gutter-width / 2);
    padding-right: floor($grid-gutter-width / 2);
    font-size: $font-size-small;

    .rex-is-popup & {
        display: none;
    }
}

@media(max-width: $grid-float-breakpoint-max) {

    .rex-page-main {
        @include clearfix();
    }

}
.rex-page-main-inner {
    padding-left: floor($grid-gutter-width / 2);
    padding-right: floor($grid-gutter-width / 2);
}


// Alternate buttons
// --------------------------------------------------

.nav-tabs > li > .btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.nav-tabs > li > .btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.nav-tabs > li > .btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.nav-tabs > li > .btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.nav-tabs > li > .btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.nav-tabs > li > .btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-abort {
    @extend .btn-default;
}
// save and continue a form with data
.btn-apply {
    @extend .btn-primary;
}
.btn-back {
    @extend .btn-default;
}
.btn-clang {
    @extend .btn-default;
}
.btn-delete {
    @extend .btn-danger;
}
// e.g. Slice edit
.btn-edit {
    @extend .btn-primary;
}
// e.g. Slice move
.btn-move {
    @extend .btn-default;
}
// e.g. Widget
.btn-popup {
    @extend .btn-default;
}
.btn-reset {
    @extend .btn-default;
}
.btn-safemode-activate {
    @extend .btn-danger;
}
// save and quit a form with data
.btn-save {
    @extend .btn-primary;
}
.btn-search {
    @extend .btn-default;
}
.btn-select {
    @extend .btn-primary;
}
// send a form, e.g. content functions
.btn-send {
    @extend .btn-primary;
}
.btn-setup {
    @extend .btn-primary;
}
.btn-update {
    @extend .btn-primary;
}
.btn-view {
    @extend .btn-primary;
}

.rex-nav-btn {
    margin-bottom: $line-height-computed;
}
.rex-nav-top .container-fluid .navbar-brand {
    margin-left: floor($grid-gutter-width / 2);
    padding: 0;
    line-height: $navbar-height;
    @media (max-width: $grid-float-breakpoint-max) {
        height: $line-height-computed;
        line-height: $line-height-computed;
    }

    .rex-is-popup & {
        height: $top-popup-navbar-height;
        line-height: $top-popup-navbar-height;
    }

    @media (min-width: $grid-float-breakpoint) {
        margin-left: 0;
    }
    #rex-page-login & {
        margin-left: 0;
    }
}
.rex-nav-top {

    .navbar-toggle {
        display: none;
    }

    .rex-is-popup & {
        min-height: $top-popup-navbar-height;
    }

}

.rex-nav-meta {

    li {
        > a {
            display: inline-block;
        }
    }
}

.rex-redaxo-logo {
    height: 30px;
    vertical-align: middle;

    @media (max-width: $grid-float-breakpoint-max) {
        height: $line-height-computed;
    }

    .rex-is-popup & {
        height: 20px;
    }
}

.rex-code {
    font-family: $font-family-monospace;
}


.rex-author,
.rex-filesize {
    @extend .text-muted;
}


// Wird bei den Kategorie-Metainfos gesetzt
.form-legend {
    @extend legend;
    margin-top: 0;
    font-weight: 400;
}


.panel > .alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel > form > .table,
.panel > form > fieldset > .table {
    margin-bottom: 0;
}

.panel > .rex-nav-pagination {
    padding: $panel-heading-padding;
}
.rex-nav-pagination {
    > .pagination {
        display: inline;
    }
    > .rex-pagination-count {
        display: inline-block;
        padding: ($padding-base-vertical + 1) $padding-base-horizontal; // 1px border
        line-height: $line-height-base;
    }
}

.panel-heading > .rex-heading {
    margin: 0;
    font-size: $font-size-base;
}

.panel-add,
.panel-edit {
    @extend .panel-info;
}

.rex-state-inprogress {
    background-color: $state-warning-bg;
}
.rex-state-live {
    background-color: $state-success-bg;
}
.rex-state-notice {
    background-color: $state-info-bg;
}

.rex-state-success,
.rex-state-info,
.rex-state-notice,
.rex-state-warning,
.rex-state-danger,
.rex-state-error {
    a {
        text-decoration: underline;
    }
}
.rex-state-success {
    background-color: $alert-success-bg;

    &, a {
        color: $alert-success-text;
    }

    tr&:hover > th,
    tr&:hover > td {
        background-color: darken($alert-success-bg, 10%);
    }
}
.rex-state-info,
.rex-state-notice {
    background-color: $alert-info-bg;

    &, a {
        color: $alert-info-text;
    }

    tr&:hover > th,
    tr&:hover > td {
        background-color: darken($alert-info-bg, 10%);
    }
}
.rex-state-warning {
    background-color: $alert-warning-bg;

    &, a {
        color: $alert-warning-text;
    }

    tr&:hover > th,
    tr&:hover > td {
        background-color: darken($alert-warning-bg, 10%);
    }
}
.rex-state-danger,
.rex-state-error {
    background-color: $alert-danger-bg;

    &, a {
        color: $alert-danger-text;
    }

    tr&:hover > th,
    tr&:hover > td {
        background-color: darken($alert-danger-bg, 10%);
    }
}

.rex-primary-id {
    @extend .text-muted;
}

.rex-hidden {
    display: none !important;
}
.rex-visible {
    display: block !important;
}
.rex-ajax-loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    background: rgba(#000, .5);

    .rex-ajax-loader-element1,
    .rex-ajax-loader-element2,
    .rex-ajax-loader-element3,
    .rex-ajax-loader-element4,
    .rex-ajax-loader-element5 {
        display: none;
    }
}

.rex-nav-main-list {
    > li {
        > a {
            padding-left: 30px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &.rex-has-icon {
            > a {
                > .rex-icon {
                    margin-left: -25px;
                    width: 20px;
                }
            }
        }
    }
}
.rex-page-nav {
    margin-bottom: $line-height-computed;

    .navbar {
        min-height: 0;
    }
    .navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: $link-color;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: $navbar-default-link-active-color;
        background-color: transparent;
    }
}

.rex-navbar-form-flexible {
    .form-group {
        display: inline;

        > .input-group {
            display: table;

            > .input-group-addon,
            > .input-group-btn {
                width: 1%;
            }
        }
    }
}

.rex-slices {
    @include list-unstyled();
}
.rex-slice {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}
.rex-slice-output {
    .container {
        width: 100%;
    }
    .panel-body {
        position: relative;
        overflow: auto;
    }
}

.panel-heading {

    @include clearfix();

    &[data-toggle] {
        cursor: pointer;
    }

    > .rex-panel-options {
        .navbar-form {
            margin: 0;
            margin-bottom: 6px;
            padding: 0;
        }
    }

    @media (min-width: $screen-md-min) {
        /*
        > .panel-title {
            float: left;
        }
        */

        > .rex-panel-options {
            float: right;

            .navbar-form {
                margin-top: -6px;
                margin-bottom: -6px;
                padding: 0;
            }
        }
    }
}
.panel-body .rex-form-panel-footer {
    @extend .panel-footer;
    margin-right: -(ceil($grid-gutter-width / 2));
    margin-bottom: -(ceil($grid-gutter-width / 2));
    margin-left: -(ceil($grid-gutter-width / 2));
}
.rex-range-input-group {
    .input-group-addon:first-child {
        width: 60%;
    }
    @media (min-width: $screen-md-min) {
        .input-group-addon:first-child {
            width: 80%;
        }
    }
}

.list-group-item .breadcrumb {
    margin-bottom: 0;
}
.panel > .list-group .list-group {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: -15px;
    > .list-group-item {
        padding-left: 20px;
        &:first-child {
            border-top-width: 1px;
        }
    }
}
.list-group-item > .rex-active {
    color: $link-hover-color;
}

.dl-horizontal.text-left {
    > dt {
        text-align: left;
    }
}


.table > thead > tr.mark,
.table > tfoot > tr.mark,
.table > tbody > tr.mark {
    padding: 0;
}
.table > tbody > tr.mark {
    background-color: $state-warning-bg;
}
.table > tbody > tr.mark > th,
.table > tbody > tr.mark > td {
    vertical-align: middle;
}

.input-group-addon {
    > .btn-group-vertical + .btn-group-vertical {
        margin-left: ceil($padding-base-horizontal / 2);
    }
}

// selectpicker - bootstrap-select
.input-group {
    > .bootstrap-select > .btn {
        border-radius: 0;
    }
    > .selectpicker:first-child + .bootstrap-select > .btn {
        border-right: 0;
        border-top-left-radius: $btn-border-radius-base;
        border-bottom-left-radius: $btn-border-radius-base;
    }
    .bootstrap-select:last-child > .btn {
        border-left: 0;
        border-top-right-radius: $btn-border-radius-base;
        border-bottom-right-radius: $btn-border-radius-base;
    }
}
