$docs-blockquote-bg: $color-a-lighter !default;
$docs-blockquote-border-color: $color-a-dark !default;
$docs-code-bg: $color-a-lighter !default;

$docs-font-size: 16px !default;
$docs-font-size-h1: 2em !default;
$docs-font-size-h2: 1.5em !default;
$docs-font-size-h3: 1.25em !default;
$docs-font-size-h4: 1em !default;
$docs-font-size-h5: .875em !default;
$docs-font-size-h6: .85em !default;

$docs-line-height: 1.5 !default;

$docs-table-head-background: #FFF !default;
$docs-table-background-default: #FFF !default;
$docs-table-background-alternate: $color-a-lighter !default;

$docs-text-color: #24292f !default;
$docs-font-weight: 600 !default;
$docs-anchor-color: $color-b !default;

$docs-border-color-muted: $gray-lighter !default;

.rex-docs,
.rex-readme .rex-readme-content {
    color: $docs-text-color;
    font-size: $docs-font-size;
    line-height: $docs-line-height;
    word-wrap: break-word;

    h1, h2, h3, h4, h5, h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: $docs-font-weight;
        line-height: 1.25;
    }

    p, blockquote, pre, details, dl, ol, ul, table {
        margin-top: 0;
        margin-bottom: 16px;

        table &:last-child {
            margin-bottom: 0;
        }
    }

    > *:first-child {
        margin-top: 0 !important;
    }

    h1 {
        padding-bottom: .3em;
        border-bottom: 1px solid $docs-border-color-muted;
        font-size: $docs-font-size-h1;
    }

    h2 {
        padding-bottom: .3em;
        border-bottom: 1px solid $docs-border-color-muted;
        font-size: $docs-font-size-h2;
    }

    h3 {
        &,
        .rex-page-section & {
            font-size: $docs-font-size-h3;
            font-weight: $docs-font-weight;
        }
    }

    h4 {
        font-size: $docs-font-size-h4;
    }

    h5 {
        font-size: $docs-font-size-h5;
    }

    h6 {
        font-size: $docs-font-size-h6;
    }

    blockquote {
        padding: 1em 1em;
        background-color: $docs-blockquote-bg;
        border-left: .25em solid $docs-blockquote-border-color;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    pre, code {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    }

    code {
        margin: 0;
        padding: .2em .4em;
        color: inherit;
        font-size: 85%;
        background-color: $docs-code-bg;
        border-radius: 6px;
    }

    pre {
        overflow: auto;
        background-color: $docs-code-bg;
        border-radius: 6px;
        font-size: 85%;
        line-height: 1.45;

        display: block;
        padding: 16px;
        border: 0;
        white-space: pre;
        word-wrap: normal;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;

        code {
            display: inline;
            padding: 0;
            border: 0;
            background: transparent;
            font-size: 100%;
            line-height: inherit;
            word-wrap: normal;
        }

        > code {
            white-space: pre;
            word-break: normal;
        }
    }

    ul, ol {
        padding-left: 2em;

        table & {
            padding-left: 1.25em;
        }
    }

    table {
        display: block;
        width: 100%;
        max-width: 100%;
        overflow: auto;

        tr {
            background-color: $docs-table-background-default;
            border-top: 1px solid $docs-border-color-muted;
        }

        tr:nth-child(2n) {
            background-color: $docs-table-background-alternate;
        }

        th, td {
            padding: $table-cell-padding;
            border: 1px solid $docs-border-color-muted;
        }

        th {
            font-weight: $docs-font-weight;
        }

        thead tr {
            background-color: $docs-table-head-background;
        }

        thead th {
            border-bottom-width: 2px;
        }

    }

    h2 {
        position: relative;

        a,
        a:hover {
            color: $docs-text-color;
            text-decoration: none;
        }
        a::before {
            content: "#";
            position: absolute;
            top: 5px;
            margin-left: -25px;
            color: $docs-anchor-color;
            font-size: $docs-font-size-h2;
            opacity: .6;
        }
    }

    pre::-moz-selection,
    pre ::-moz-selection,
    code::-moz-selection,
    code ::-moz-selection {
        background: #b3d4fc;
    }

    pre::selection,
    pre ::selection,
    code::selection,
    code ::selection {
        background: #b3d4fc;
    }
}


.rex-docs {
    display: flex;
    justify-content: space-between;

    &-sidebar {
        flex-basis: 230px;
        flex-shrink: 0;
        padding-left: $grid-gutter-width;
        order: 1;
    }
    &-content {
        min-width: 0; // flexbox: reduce implied width
        flex-grow: 1;
        max-width: 1012px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: $screen-md-max) {
    .rex-docs-sidebar {
        display: none;
    }
}


// ----------------------------------------------------------------------------

@mixin _dark-docs {

    .rex-docs,
    .rex-readme .rex-readme-content {
        color: $color-text-light;

        h1 {
            border-bottom-color: $color-grey-5;
        }
        h2 {
            border-bottom-color: $color-grey-5;
        }

        blockquote {
            background-color: $color-grey-2;
            border-left-color: $color-grey-1;
        }

        code {
            background-color: $color-grey-1;
        }

        pre {
            background-color: $color-grey-1;

            code {
                background: transparent;
            }
        }

        table {
            tr {
                background-color: transparent;
                border-top-color: $color-grey-1;
            }

            tr:nth-child(2n) {
                background-color: $color-grey-2;
            }

            th, td {
                border-color: $color-grey-1;
            }

            thead tr {
                background-color: transparent;
            }
        }

        h2 {
            a,
            a:hover {
                color: $color-text-light;
            }
        }

        pre::-moz-selection,
        pre ::-moz-selection,
        code::-moz-selection,
        code ::-moz-selection {
            background-color: $color-blue-1;
        }

        pre::selection,
        pre ::selection,
        code::selection,
        code ::selection {
            background-color: $color-blue-1;
        }
    }
}

body.rex-theme-dark {
    @include _dark-docs;
}

@media (prefers-color-scheme: dark) {
    body:not(.rex-theme-light) {
        @include _dark-docs;
    }
}
