@media (min-width: $screen-md-min) {
    @include generate-spacing(1, 10, 'rex-table-width', 'width', $helper-factor-spacing, true);
    @include generate-spacing(1, 10, 'rex-table-min-width', 'min-width', $helper-factor-spacing, true);
    .rex-table-width-1,
    .rex-table-width-1  {
        text-align: center !important;
    }
}

.vertical-bottom {
    vertical-align: bottom !important;
}
.vertical-middle {
    vertical-align: middle !important;
}
.vertical-top {
    vertical-align: top !important;
}

.rex-truncate-target {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;

    .rex-truncate-expandable&:hover,
    .rex-truncate-expandable > &:hover {
        max-width: 10000px !important;
    }
}

.rex-truncate {
    &.rex-truncate-target,
    .rex-truncate-target {
        text-overflow: ellipsis;
    }
}
.rex-truncate-left {
    position: relative;

    .rex-truncate-target {
        margin-left: 15px;
        direction: rtl;
        text-align: right;
        &:after {
            content: '...';
            position: absolute;
            left: 0;
        }
    }

}

.rex-text-hyphen {
    @include hyphens();
}
.rex-word-break {
    word-break: break-word; // deprecated
    overflow-wrap: anywhere;
}
