.rex-is-impersonated {
    .rex-nav-top .navbar {
        background-color: #f0bd4b;
    }
}

// ----------------------------------------------------------------------------

@mixin _dark-impersonate {

    &.rex-is-impersonated {
        .rex-nav-top .navbar {
            background-color: saturate(darken($dark-brand-warning, 10%), 40%);
        }
    }
}

body.rex-theme-dark {
    @include _dark-impersonate;
}

@media (prefers-color-scheme: dark) {
    body:not(.rex-theme-light) {
        @include _dark-impersonate;
    }
}
