$mime-icons: (
    "doc": $fa-var-file-word,
    "docx": $fa-var-file-word,
    "pdf": $fa-var-file-pdf,
    "ppt": $fa-var-file-powerpoint,
    "pptx": $fa-var-file-powerpoint,
    "txt": $fa-var-file-text,
    "xls": $fa-var-file-excel,
    "xlsx": $fa-var-file-excel,
);

.rex-mime {
    // From _core.scss
    font-family: var(--#{$fa-css-prefix}-style-family, '#{$fa-style-family}');
    font-weight: var(--#{$fa-css-prefix}-style, #{$fa-style});

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--#{$fa-css-prefix}-display, #{$fa-display});
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    // End _core.scss

    position: relative;
    font-size: 3em;
    font-weight: 400;

    &::before {
        content: unquote("\"#{ $fa-var-file }\"");
    }

    &::after {
        content: attr(data-extension);
        display: block;
        position: absolute;
        left: 0;
        top: 1.5em;
        width: 100%;
        text-align: center;
        font-family: $font-family-monospace;
        font-size: $font-size-small;
        text-transform: uppercase;
    }
}
.rex-mime-error {
    color: $state-danger-text;

    &::after {
        content: '!';
        top: .8em;
        font-size: $font-size-large;
    }
}

@each $name, $icon in $mime-icons {
    .rex-mime-#{$name}::before {
        content: unquote("\"#{ $icon }\"");
    }
    .rex-mime-#{$name}::after {
        content: '';
    }
}
