$element-hover-bg: lighten($color-a-dark, 5%);

.rex-minibar {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100000;
    padding-right: $minibar-height;
    color: $color-a;
    direction: ltr;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;

    &[data-minibar="false"] {
        height: $minibar-height;
    }

    &[data-minibar="true"],
    &.rex-minibar-backend {
        left: 0;
    }
    &.rex-minibar-backend {
        padding-right: 0;
    }

    * {
        box-sizing: content-box;
        vertical-align: baseline;
        letter-spacing: normal;
        width: auto;
    }

    &-close,
    &-opener {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100001;
        width: $minibar-height;
        height: $minibar-height;
        font-size: 18px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
            background: $color-a-dark;
            color: $color-a-light;
        }
    }
    &-close {
        background: $color-a-dark;
        color: $link-color;
    }
    &-opener {
        background: $color-a-light;
        color: $color-a;
    }

    &-close-icon,
    &-opener-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* Fix bugs ON Safari */
        -webkit-transform: translate3d(-50%, -50%, 0);
    }

    &[data-minibar="false"] &-close,
    &[data-minibar="false"] &-elements {
        display: none;
    }

    &[data-minibar="true"] &-opener {
        display: none;
    }

    &-elements {
        width: 100%;
        background: darken($color-a-darker, 2%);
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }
    &-element {
        cursor: default;
        display: block;
        float: left;
        height: $minibar-height;
        margin-right: 0;
        padding: 0 10px;
        white-space: nowrap;
        //transition: all 200ms ease-in-out;

        &:hover {
            position: relative;
            background-color: $element-hover-bg;
        }

        &-right {
            float: right;
        }

        > a {
            display: inline-block;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
        span {
            display: inline-block;
        }
    }

    &-item {
        display: inline-block;
        height: $minibar-height;
    }

    &-info {
        position: absolute;
        left: 0;
        bottom: $minibar-height;
        display: none;
        background-color: $element-hover-bg;
        color: $color-a-light;
        padding: 9px 0;
    }

    &-info-group + &-info-group {
        margin-top: 4px;
        padding-top: 2px;
        border-top: 1px solid $color-a;
    }
    &-info-piece {
        display: table-row;
        margin-bottom: 4px;
        border: 3px solid transparent;
        border-collapse: collapse;

        a {
            color: $link-color;
            transition: color 200ms ease-in-out;

            &:hover {
                color: #58b5ff;
            }
        }

        b {
            display: table-cell;
            border-collapse: collapse;
            padding: 4px 8px 4px 0;
            color: $color-a;
            font-size: 12px;
            vertical-align: top;
        }

        span {
            padding-top: 3px;
            color: $color-a-light;
            font-size: 13px;
        }
    }

    &-element:hover &-info {
        display: block;
        padding: 10px;
        max-width: 480px;
        max-height: 480px;
        word-wrap: break-word;
        overflow: hidden;
        overflow-y: auto;
    }
    &-element-right &-info {
        left: auto;
        right: 0;
    }

    &-icon {
        display: inline-block;
        color: $color-a;
        font-size: 16px;
    }

    &-icon + &-value,
    &-value + &-value {
        margin-left: 5px;
    }

    &-value {
        color: $color-a-light;
        font-size: 13px;
        line-height: $minibar-height;
    }

    &-label {
        display: inline;
        color: $color-a;
        font-size: 12px;
        line-height: $minibar-height;
    }

    &-status-danger {
        background-color: $brand-danger;
    }

    &-status-primary {
        background-color: $brand-primary;
        color: #fff;
    }

    &-status-warning {
        background-color: $brand-warning;
    }

    &-info &-status-green,
    &-info &-status-red {
        min-width: 15px;
        min-height: 13px;
        margin: 0;
        padding: 2px 5px;
        color: #fff;
        vertical-align: middle;
        text-align: center;
    }
    &-info span + &-status-green,
    &-info span + &-status-red {
        margin-left: 4px;
    }

    &-status-green {
        background-color: $color-online;
    }
    &-status-red {
        background-color: $brand-danger;
    }
}


.rex-minibar-element-system {
    .rex-redaxo-logo {
        height: 10px;
        width: 70px;
        vertical-align: middle;
        margin-right: -62px;


        @media (max-width: 767px) {
            path.rex-redaxo-logo-e,
            path.rex-redaxo-logo-d,
            path.rex-redaxo-logo-a,
            path.rex-redaxo-logo-x,
            path.rex-redaxo-logo-o {
                display: none;
            }
        }
        @media (min-width: 768px) {
            height: 10px;
            width: 60px;
            margin-right: -14px;
        }

        path.rex-redaxo-logo-r,
        path.rex-redaxo-logo-e,
        path.rex-redaxo-logo-d,
        path.rex-redaxo-logo-a,
        path.rex-redaxo-logo-x,
        path.rex-redaxo-logo-o {
            fill: #fff;
        }

        path.rex-redaxo-logo-cms,
        path.rex-redaxo-logo-reg {
            display: none;
        }
    }
}


.rex-minibar-close-icon {
    @extend .rex-minibar-icon--fa;
    @extend .rex-minibar-icon--fa-times;
}
.rex-minibar-opener-icon {
    @extend .rex-minibar-icon--fa;
    @extend .rex-minibar-icon--fa-window-minimize;
}
