.rex-var-dumper {

    &, & * {
        font-family: "Fira Code", Menlo, Monaco, Consolas, monospace;
        font-size: 14px;
        line-height: 1.4 !important;
    }

    position: relative;
    z-index: 99999;
    background-color: #263238;
    color: #eeffff;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;

    .sf-dump-private,
    .sf-dump-protected,
    .sf-dump-public {
        color: #C792EA;
    }
    .sf-dump-const,
    .sf-dump-num {
        color: #F78C6C;
    }
    .sf-dump-ellipsis {
        color: #FFA500;
    }
    .sf-dump-index,
    .sf-dump-key {
        color: #C3E88D;
    }
    .sf-dump-meta {
        color: #800080;
    }
    .sf-dump-note,
    .sf-dump-ref {
        color: #FFB62C;
    }
    .sf-dump-str {
        color: #FF5370;
    }

    .sf-dump-const {
        font-weight: 700;
    }

}
