
// input-type-range
@mixin input-type-range-shadow($shadow-size,$shadow-blur,$shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color,5%);
}

@mixin input-type-range-track {
    width: $input-type-range-track-width;
    height: $input-type-range-track-height;
    cursor: pointer;
    animate: 0.2s;
}

@mixin input-type-range-thumb {
    @include input-type-range-shadow($input-type-range-thumb-shadow-size,$input-type-range-thumb-shadow-blur,$input-type-range-thumb-shadow-color);
    border: $input-type-range-thumb-border-width solid $input-type-range-thumb-border-color;
    height: $input-type-range-thumb-height;
    width: $input-type-range-thumb-width;
    border-radius: $input-type-range-thumb-radius;
    background: $input-type-range-thumb-color;
    cursor: pointer;
}

@mixin input-type-range {
    -webkit-appearance: none;
    background: transparent;
    width: $input-type-range-track-width;

    &:focus {
        outline: none;
    }


    &::-webkit-slider-runnable-track {
        @include input-type-range-track();
        @include input-type-range-shadow($input-type-range-track-shadow-size,$input-type-range-track-shadow-blur,$input-type-range-track-shadow-color);
        background: $input-type-range-track-color;
        border-radius: $input-type-range-track-radius;
        border: $input-type-range-track-border-width solid $input-type-range-track-border-color;
    }
    &::-webkit-slider-thumb {
        @include input-type-range-thumb();
        -webkit-appearance: none;
        margin-top: ((-$input-type-range-track-border-width * 2 + $input-type-range-track-height) / 2) - ($input-type-range-thumb-height / 2);
    }
    &:focus::-webkit-slider-runnable-track {
        background: $input-type-range-track-color;
    }

    &::-moz-range-track {
        @include input-type-range-track();
        @include input-type-range-shadow($input-type-range-track-shadow-size,$input-type-range-track-shadow-blur,$input-type-range-track-shadow-color);
        background: $input-type-range-track-color;
        border-radius: $input-type-range-track-radius;
        border: $input-type-range-track-border-width solid $input-type-range-track-border-color;
    }
    &::-moz-range-thumb {
        @include input-type-range-thumb();
    }
    // disable focus outline
    &::-moz-focus-outer {
        border: 0;
    }

    &::-ms-track {
        @include input-type-range-track();
        background: transparent;
        border-color: transparent;
        border-width: $input-type-range-thumb-width 0;
        color: transparent;
    }
    &::-ms-fill-lower {
        background: $input-type-range-track-color;
        border: $input-type-range-track-border-width solid $input-type-range-track-border-color;
        border-radius: $input-type-range-track-radius * 2;
        @include input-type-range-shadow($input-type-range-track-shadow-size,$input-type-range-track-shadow-blur,$input-type-range-track-shadow-color);
    }
    &::-ms-fill-upper {
        background: $input-type-range-track-color;
        border: $input-type-range-track-border-width solid $input-type-range-track-border-color;
        border-radius: $input-type-range-track-radius * 2;
        @include input-type-range-shadow($input-type-range-track-shadow-size,$input-type-range-track-shadow-blur,$input-type-range-track-shadow-color);
    }
    &::-ms-thumb {
        @include input-type-range-thumb();
    }

    &:focus::-ms-fill-lower {
        background: $input-type-range-track-color;
    }

    &:focus::-ms-fill-upper {
        background: $input-type-range-track-color;
    }
}
