.be-style-customizer-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 250px;
    margin: 0;
    line-height: 0;
    white-space: nowrap;
}
@media (max-width: 1199px) {
    .be-style-customizer-title {
        left: 235px;
    }
}
.be-style-customizer-title a {
    display: block;
    padding: 15px;
    color: #fff;
}
.be-style-customizer-title a:hover .be-style-customizer-title-name,
.be-style-customizer-title a:focus .be-style-customizer-title-name {
    text-decoration: underline;
}
.be-style-customizer-title-name,
.be-style-customizer-title i {
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.be-style-customizer-title-name {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
}
.be-style-customizer-title i {
    display: inline-block;
    vertical-align: middle;
}
@media (max-width: 991px) {
    .be-style-customizer-title {
        top: 50%;
        left: 50%;
        /* center inside brand element, move to the right half the viewport size (50vw), move back by itself (100%) and 10 px */
        transform: translate(calc(50vw - 100% - 10px), -50%);
        font-size: 20px;
    }
    .be-style-customizer-title-name {
        display: none
    }
    .be-style-customizer-title a {
        padding: 5px 10px;
    }
}

.rex-is-popup .be-style-customizer-title {
    display: none;
}

.CodeMirror {
    border: 1px solid #c1c9d4;
    min-height: 490px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 16px !important;
}

body.rex-theme-dark .be-style-customizer-title a,
body.rex-theme-dark .be-style-customizer-title a:hover,
body.rex-theme-dark .be-style-customizer-title a:focus {
    color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {
    body:not(.rex-theme-light) .be-style-customizer-title a,
    body:not(.rex-theme-light) .be-style-customizer-title a:hover,
    body:not(.rex-theme-light) .be-style-customizer-title a:focus {
        color: rgba(255, 255, 255, 0.75);
    }
}
