name: Chatops

on:
  issue_comment:
    types: [created]

jobs:
  slash-command-dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@v2
        with:
          token: ${{ secrets.STAABM_TOKEN }}
          # reactions should be reported from github itself
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          commands: visual-test
          issue-type: pull-request
