name: PHP Checks

on:
  push:
    branches:
    - master
    - bugfix
    - temp
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
    - '*'

jobs:

  php-cs-fixer:
      name: check php-cs-fixer codestyles
      runs-on: ubuntu-latest
      if: github.event.pull_request.draft == false

      steps:
          - uses: actions/checkout@v2
          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: 7.1
                extensions: intl
                coverage: none # disable xdebug, pcov
                tools: cs2pr
          - name: Get Composer Cache Directory
            id: composer-cache
            run: echo "::set-output name=dir::$(composer config cache-files-dir)"
          - name: Cache dependencies
            uses: actions/cache@v2
            with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                restore-keys: ${{ runner.os }}-composer-
          - name: Install Dependencies
            run: composer install --ansi --prefer-dist
          - run: vendor/bin/php-cs-fixer fix --ansi --diff --dry-run --format=checkstyle | cs2pr
