name: php-cs-fixer

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
    - '**.php'

jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    # dont run jobs on forks, because we are not allowed to commit
    if: github.event.pull_request.draft == false && github.event.pull_request.head.repo.full_name == github.repository

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.STAABM_TOKEN }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.1
        coverage: none # disable xdebug, pcov
        tools: cs2pr

    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
        restore-keys: ${{ runner.os }}-composer-
    - name: Install Dependencies
      run: composer install --prefer-dist

    - run: vendor/bin/php-cs-fixer fix --diff

    - name: Commit changed files
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Apply php-cs-fixer changes

    - run: vendor/bin/php-cs-fixer fix --diff --dry-run --format=checkstyle | cs2pr # check whether there are still errors left
