on:
  label:
    types: [created]

name: Codestyle fixing by adding Pull Request label fix-cs
jobs:
  php-cs-fixer-automatic:
    name: PHP-CS-Fixer fix by Pull Request label
    runs-on: ubuntu-latest
    steps:
    - name: Get pull request branch name
      id: vars
      run: |
        label_found=$(jq --raw-output '.issue.labels[] | select(.name == "fix-cs")' ${{ github.event_path }} | grep 'fix-cs') 
        head_ref=$(jq --raw-output .head.ref ${{ github.event_path }})
        echo ::set-output name=pr_branch::"$head_ref"
        echo ::set-output name=label_found::"$label_found"

    - uses: actions/checkout@master
      if: steps.vars.outputs.pr_branch != 'null' && steps.vars.outputs.label_found == 0

    - name: Setup PHP
      if: steps.vars.outputs.pr_branch != 'null' && steps.vars.outputs.label_found == 0
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.1
    - run: composer global require friendsofphp/php-cs-fixer && ~/.composer/vendor/bin/php-cs-fixer fix --diff # global to not modify project-local files
      if: steps.vars.outputs.pr_branch != 'null' && steps.vars.outputs.label_found == 0

    - name: Update pull request
      if: steps.vars.outputs.pr_branch != 'null' && steps.vars.outputs.label_found == 0
      uses: peter-evans/create-pull-request@v1.6.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COMMIT_MESSAGE: 'fix code-style'
        PULL_REQUEST_BRANCH: ${{ steps.vars.outputs.pr_branch }}
        BRANCH_SUFFIX: none

     
