on:
  issue_comment:
    types: [created]
name: Codestyle fixing by comment
jobs:
  php-cs-fixer-automatic:
    name: PHP-CS-Fixer fix by keyword
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: PHP-CS-Fixer fix styles
      uses: docker://oskarstark/php-cs-fixer-ga
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Get pull request branch name
      id: vars
      run: |
        issue_num=$(jq -r .issue.number ${{ github.event_path }})
        head_ref=$(curl -sL \
          -H "Content-Type: application/json" \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls/$issue_num" | \
          jq -r .head.ref)
        echo ::set-output name=pr_branch::"$head_ref"
    - name: Update pull request
      if: steps.vars.outputs.pr_branch != 'null'
      uses: peter-evans/create-pull-request@v1.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: 'fix code-style'
          PULL_REQUEST_BRANCH: ${{ steps.vars.outputs.pr_branch }}
          BRANCH_SUFFIX: none

     
