name: Linting

on:
    push:
        branches: [temp]
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

permissions:
    contents: read

jobs:
    super-linter:
        runs-on: ubuntu-latest
        timeout-minutes: 30
        if: github.event.pull_request.draft == false

        steps:
            -   name: Checkout
                uses: actions/checkout@v6
                with:
                    # super-linter needs the full git history to get the
                    # list of files that changed across commits
                    fetch-depth: 0
                    persist-credentials: false

            -   name: Super-linter
                uses: super-linter/super-linter/slim@v8
                env:
                    MULTI_STATUS: false
                    VALIDATE_BASH: true
                    VALIDATE_BASH_EXEC: true
                    VALIDATE_CSS: true
                    VALIDATE_EDITORCONFIG: true
                    VALIDATE_GITHUB_ACTIONS: true
                    VALIDATE_JAVASCRIPT_ES: true
                    VALIDATE_JSON: true
                    VALIDATE_MARKDOWN: true
                    VALIDATE_YAML: true
                    FILTER_REGEX_EXCLUDE: .*/vendor/.*
