name: PHP Checks

on:
  push:
    branches:
    - master
    - bugfix
    - temp
  pull_request:
    branches:
    - '*'

jobs:

  rex-lint:
    name: REX Linting
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306
    steps:
    - uses: actions/checkout@master
    - name: Setup PHP
      uses: shivammathur/setup-php@master
      with:
        php-version: 7.1
    - run: |
        git submodule update --init --recursive
        mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo_5_0;'
        git apply .github/workflows/default.config.yml.github-action.diff
    - run: |
        php redaxo/src/addons/tests/bin/setup.php
        composer require --dev friendsofredaxo/linter && vendor/bin/rexlint
        php redaxo/bin/console be_style:compile
        git diff HEAD --exit-code # check if compiling the scss lead to uncommitted changes


