name: PHP Checks

on:
  push:
    branches:
    - master
    - bugfix
    - temp
  pull_request:
    branches:
    - '*'

jobs:

  rex-lint:
    name: REX Linting
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306
    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.1
        extensions: intl
        coverage: none # disable xdebug, pcov
    - name: Get Composer Cache Directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
        restore-keys: ${{ runner.os }}-composer-
    - name: Install Dependencies
      run: composer install --prefer-dist
    - run: |
        sudo /etc/init.d/mysql start
        mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
        git apply .github/workflows/default.config.yml.github-action.diff
    - run: |
        php redaxo/src/addons/tests/bin/setup.php
    - run: |
        vendor/bin/rexlint
        php redaxo/bin/console be_style:compile
        git checkout -- redaxo/src/core/default.config.yml # revert changes made initially
        git diff HEAD --exit-code # check if compiling the scss lead to uncommitted changes

  psalm-analysis:
      name: psalm static code analysis
      runs-on: ubuntu-latest
      services:
          mysql:
              image: mysql:5.7
              ports:
                  - 3306
      steps:
          - uses: actions/checkout@v2
          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: 7.4
                extensions: intl, imagick
                coverage: none # disable xdebug, pcov
                tools: cs2pr
          - name: Get Composer Cache Directory
            id: composer-cache
            run: echo "::set-output name=dir::$(composer config cache-files-dir)"
          - name: Cache dependencies
            uses: actions/cache@v1
            with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                restore-keys: ${{ runner.os }}-composer-
          - name: "Psalm Resultcache"
            uses: actions/cache@v1
            with:
                path: /tmp/psalm
                key: "psalm-result-cache"
          - name: Install Dependencies
            run: composer install --prefer-dist
          - run: |
                sudo /etc/init.d/mysql start
                mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
                git apply .github/workflows/default.config.yml.github-action.diff
          - run: |
                php redaxo/src/addons/tests/bin/setup.php
                php redaxo/bin/console package:install phpmailer
                php redaxo/bin/console package:install cronjob
                php redaxo/bin/console package:install cronjob/article_status
                php redaxo/bin/console package:install cronjob/optimize_tables
                php redaxo/bin/console package:install debug
                php redaxo/bin/console package:install structure/history
                php redaxo/bin/console package:install structure/version
          - run: |
                vendor/bin/psalm --show-info=false --shepherd --output-format=checkstyle | cs2pr

  phpstan-analysis:
      name: phpstan static code analysis
      runs-on: ubuntu-latest
      services:
          mysql:
              image: mysql:5.7
              ports:
                  - 3306
      steps:
          - uses: actions/checkout@v2
          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: 7.4
                extensions: intl, imagick
                coverage: none # disable xdebug, pcov
                tools: cs2pr
          - name: Get Composer Cache Directory
            id: composer-cache
            run: echo "::set-output name=dir::$(composer config cache-files-dir)"
          - name: Cache dependencies
            uses: actions/cache@v1
            with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                restore-keys: ${{ runner.os }}-composer-
          - name: "PHPStan Resultcache"
            uses: actions/cache@v1
            with:
                path: /tmp/phpstan
                key: "phpstan-result-cache"
          - name: Install Dependencies
            run: composer install --prefer-dist
          - run: |
                sudo /etc/init.d/mysql start
                mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
                git apply .github/workflows/default.config.yml.github-action.diff
          - run: |
                php redaxo/src/addons/tests/bin/setup.php
                php redaxo/bin/console package:install phpmailer
                php redaxo/bin/console package:install cronjob
                php redaxo/bin/console package:install cronjob/article_status
                php redaxo/bin/console package:install cronjob/optimize_tables
                php redaxo/bin/console package:install debug
                php redaxo/bin/console package:install structure/history
                php redaxo/bin/console package:install structure/version
          - run: |
                vendor/bin/phpstan analyse --no-progress --error-format=checkstyle | cs2pr

  php-cs-fixer:
      name: check php-cs-fixer codestyles
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v2
          - name: Setup PHP
            uses: shivammathur/setup-php@v2
            with:
                php-version: 7.1
                extensions: intl
                coverage: none # disable xdebug, pcov
                tools: cs2pr
          - name: Get Composer Cache Directory
            id: composer-cache
            run: echo "::set-output name=dir::$(composer config cache-files-dir)"
          - name: Cache dependencies
            uses: actions/cache@v1
            with:
                path: ${{ steps.composer-cache.outputs.dir }}
                key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                restore-keys: ${{ runner.os }}-composer-
          - name: Install Dependencies
            run: composer install --prefer-dist
          - run: vendor/bin/php-cs-fixer fix --diff --dry-run --format=checkstyle | cs2pr

  phpunit:
    name: unit tests
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        ports:
          - 3306
    steps:
    - uses: actions/checkout@v2
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
        extensions: intl
        coverage: none # disable xdebug, pcov

    - name: Setup Problem Matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - run: |
        sudo /etc/init.d/mysql start
        mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
        git apply .github/workflows/default.config.yml.github-action.diff
    - run: |
        php redaxo/src/addons/tests/bin/setup.php
    - run: |
        php redaxo/src/addons/tests/bin/run_tests.php
