name: PHP Checks

on:
    push:
        branches:
            - master
            - bugfix
            - temp
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        branches:
            - '*'

jobs:

    rex-lint:
        name: REX Linting
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false

        services:
            mysql:
                image: mysql:5.7
                ports:
                    - 3306
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.1
                  extensions: intl
                  coverage: none # disable xdebug, pcov
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install Dependencies
              run: composer install --prefer-dist
            - run: |
                  sudo /etc/init.d/mysql start
                  mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
                  git apply .github/workflows/default.config.yml.github-action.diff
            - run: |
                  php .tools/bin/setup
            - run: |
                  vendor/bin/rexlint
                  php redaxo/bin/console be_style:compile
                  git checkout -- redaxo/src/core/default.config.yml # revert changes made initially
                  git diff HEAD --exit-code # check if compiling the scss lead to uncommitted changes
