name: Linting

on:
    push:
        branches: [temp]
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

permissions:
    contents: read

jobs:
    rexlint:
        runs-on: ubuntu-latest
        timeout-minutes: 30
        if: github.event.pull_request.draft == false

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.4
                    coverage: none # disable xdebug, pcov

            -   name: Composer install
                uses: ramsey/composer-install@v3

            -   name: Run rexlint
                run: vendor/bin/rexlint
