name: PHP Checks

on:
    push:
        branches:
            - master
            - bugfix
            - temp
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        branches:
            - '*'

jobs:

    psalm-analysis:
        name: psalm static code analysis
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"

        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  extensions: intl, imagick
                  coverage: none # disable xdebug, pcov
            - name: "Psalm Resultcache"
              uses: actions/cache@v2
              with:
                  path: /tmp/psalm
                  key: "psalm-result-cache"
            - uses: "ramsey/composer-install@v1"
              with:
                  composer-options: "--ansi --prefer-dist"
            - run: |
                  vendor/bin/psalm --show-info=false --shepherd --diff --output-format=github
            - name: Check psalm baseline
              if: ${{ success() }}
              run: |
                  composer psalm-baseline
                  git diff --exit-code .tools/psalm/baseline.xml || echo "::error file=.tools/psalm/baseline.xml,line=1,col=1::Psalm baseline file is outdated and must be regenerated via \`composer psalm-baseline\`." && exit 1

    psalm-taint-analysis:
        name: psalm taint analysis
        runs-on: ubuntu-latest
        if: "github.event.pull_request.draft == false && !contains(github.event.head_commit.message, '[ci skip]')"

        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  extensions: intl, imagick
                  coverage: none # disable xdebug, pcov
            - uses: "ramsey/composer-install@v1"
              with:
                  composer-options: "--ansi --prefer-dist"
            - run: |
                  vendor/bin/psalm --use-baseline=.tools/psalm/baseline-taint.xml --taint-analysis --no-cache
            - name: Check psalm baseline
              if: ${{ success() }}
              run: |
                  composer taint-baseline
                  git diff --exit-code .tools/psalm/baseline-taint.xml || echo "::error file=.tools/psalm/baseline-taint.xml,line=1,col=1::Psalm taint baseline file is outdated and must be regenerated via \`composer taint-baseline\`." && exit 1

    phpstan-analysis:
        name: phpstan static code analysis
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"

        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  extensions: intl, imagick
                  coverage: none # disable xdebug, pcov
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: "PHPStan Resultcache"
              uses: actions/cache@v2
              with:
                  path: /tmp/phpstan
                  key: "phpstan-result-cache"
            - name: Install Dependencies
              run: composer install --ansi --prefer-dist
            - run: |
                  vendor/bin/phpstan analyse --ansi --no-progress
