name: PHP Checks

on:
    push:
        branches:
            - master
            - bugfix
            - temp
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        branches:
            - '*'

jobs:

    phpunit:
        name: unit tests
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"
        
        services:
            mysql:
                image: mysql:5.7
                ports:
                    - 3306
        steps:
            - uses: actions/checkout@v2
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 7.4
                  extensions: intl
                  coverage: none # disable xdebug, pcov
            - name: Get Composer Cache Directory
              id: composer-cache
              run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            - name: Cache dependencies
              uses: actions/cache@v2
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-composer-
            - name: Install Dependencies
              run: composer install --ansi --prefer-dist

            - name: Setup Problem Matchers for PHPUnit
              run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            - run: |
                  sudo /etc/init.d/mysql start
                  mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
                  git apply .github/workflows/default.config.yml.github-action.diff
            - run: |
                  php .tools/bin/setup
            - run: |
                  vendor/bin/phpunit --colors=always
