name: Unit tests

on:
    push:
        branches: [main, bugfix, temp]
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

permissions:
    contents: read

jobs:
    phpunit:
        runs-on: ${{ matrix.os }}
        timeout-minutes: 30
        permissions:
            contents: write  # for Git to git apply

        strategy:
            matrix:
                include:
                    -   os: ubuntu-latest
                        php-version: '8.1'
                        db-image: 'mysql:5.6'
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        db-image: 'mysql:5.7'
                    -   os: ubuntu-latest
                        php-version: '8.3'
                        db-image: 'mysql:8.0'
                    -   os: ubuntu-latest
                        php-version: '8.1'
                        db-image: 'mariadb:10.1'
                    -   os: ubuntu-latest
                        php-version: '8.2'
                        db-image: 'mariadb:latest'

        # https://docs.github.com/en/free-pro-team@latest/actions/guides/about-service-containers
        services:
            mysql:
                image: ${{ matrix.db-image }}
                env:
                    MYSQL_ROOT_PASSWORD: root
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: gd, intl, pdo_mysql
                    coverage: none # disable xdebug, pcov

            -   name: Composer install
                uses: ramsey/composer-install@v2
                with:
                    composer-options: ${{ matrix.php-version == '8.3' && '--ansi --prefer-dist --ignore-platform-req=php' || '--ansi --prefer-dist' }}

            -   name: Setup Problem Matchers for PHPUnit
                run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            -   name: Setup REDAXO
                run: |
                    mysql -uroot -h127.0.0.1 -proot -e 'create database redaxo5;'
                    php redaxo/bin/console setup:run -n --lang=de_de --db-host=127.0.0.1 --db-name=redaxo5 --db-password=root --db-createdb=no --db-setup=normal --admin-username=admin --admin-password=adminpassword --error-email=test@redaxo.invalid --ansi
                    php redaxo/bin/console config:set --type boolean debug.enabled true
                    php redaxo/bin/console config:set --type boolean debug.throw_always_exception true
                    redaxo/bin/console system:report

            -   name: Run phpunit
                run: vendor/bin/phpunit --colors=always
